<h1>口コミ</h1>
<h3>投稿する！！</h3>
<%= form_for @ski do |f| %>
    <h5>ジャンル選択:</h5>
    <div class='form-group'>
      <%= f.collection_select :tag_ids, Tag.all, :id, :name, include_blank: "ジャンルを選択してください"  %>
    </div>
  

        <div class="field">
            <%= f.label :スキー場名  %>
            <%= f.text_area :comment, :size => "30x2" %>
        </div>

        <!--ここから写真投稿--!>
        <div class="field">
            <%= f.label :image %>
            <%= f.file_field :image %>
        </div>
        <!--ここまで写真投稿--!>

        <!--ここから星評価--!>
        <h5>総合評価</h5>
        <div class="post_form">
            <%= f.radio_button :overall, 5 ,id: 'star1'%>
            <label for="star1"><span class="text">最高</span>★</label>

            <%= f.radio_button :overall, 4 ,id: 'star2'%>
            <label for="star2"><span class="text">良い</span>★</label>

            <%= f.radio_button :overall, 3 ,id: 'star3'%>
            <label for="star3"><span class="text">普通</span>★</label>

            <%= f.radio_button :overall, 2 ,id: 'star4'%>
            <label for="star4"><span class="text">悪い</span>★</label>

            <%= f.radio_button :overall, 1 ,id: 'star5'%>
            <label for="star5"><span class="text">最悪</span>★</label>
        </div>
        <!--ここまで星評価--!>
    <%= f.submit "投稿する" %>
<% end %>



