<body class='ichirann'>
 
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <div class="ski">
  <p><%= @ski.date %></p>
  <p><%= image_tag(@ski.image_url ,size: "300x200") if @ski.image.present? %><p>
  <p><%= @ski.comment %></p>
  <p><%= @ski.overall %></p>
 </div>
<div class="comment-wrapper">


  <h3>コメント一覧</h3>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.email unless c.user.blank? %>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
  <%= form_with(model: [@ski, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to "一覧に戻る", skis_path %>

<% @ski.tags.each do |tag| %>
    <span><%= tag.name %></span>
<% end %>
</body>