<!DOCTYPE html>
<html>
  <head>
    <title>Hokkaidolove</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <h1>Hokkaidolove</h1>
  <div class="header-list">
  <ul>
  <%= link_to "新規投稿", new_ski_path %>
  <%= link_to "ログイン", skis_path %>
  <%= link_to "新規登録", new_user_registration_path %>
  </ul>
  </div>
</header>
    <%= yield %>
  </body>
</html>
